*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --border-radius-s0: .5em;
  --border-radius-s-1: .25em;
  --color-high: hsl(10 90% 80%);
  --color-high-dark: hsl(10 95% 30%);
  --color-low: hsl(140 90% 85%);
  --color-low-dark: hsl(140 95% 35%);
}
html {
  background-color: hsl(123, 20%, 92%);
  font-family: europa, sans-serif;
}

.heading {
  font-family: alda, serif;
  text-transform: capitalize;
}
.heading, p {
  margin: 0;
  max-width: 72ch;
}

p {
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 64em;
}

header {
  padding: 2.5rem;
  background-color: hsl(0 5% 99%);
  box-shadow: 1px 1px 2px hsl(0 10% 50% / 0.2),
              2px 2px 4px hsl(0 15% 50% / 0.25),
              3px 3px 6px hsl(0 20% 50% / 0.3),
              4px 4px 8px hsl(0 25% 50% / 0.35),
              5px 5px 8px hsl(0 30% 50% / 0.4);
  border-radius: var(--border-radius-s0);
}

header > * + * {
  margin-top: 1rem;
}

.dataset {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 1.5rem;
  padding: 2.5rem;
  background-color: hsl(0 5% 99%);
  box-shadow: 1px 1px 2px hsl(0 10% 50% / 0.2),
              2px 2px 4px hsl(0 15% 50% / 0.25),
              3px 3px 6px hsl(0 20% 50% / 0.3),
              4px 4px 8px hsl(0 25% 50% / 0.35),
              5px 5px 8px hsl(0 30% 50% / 0.4);
  border-radius: var(--border-radius-s0);
}

.dataset table {
  border-spacing: 0;
  /* border-collapse: collapse; */
  border-radius: var(--border-radius-s0);
  width: 100%;
  max-width: 36em;
  margin-inline: auto;
  --table-border-radius: 6px
}
.dataset thead {
  font-weight: 600;
  font-size: 1.25rem;
}
.dataset thead td:first-child {
  border-top-left-radius: var(--table-border-radius);
}
.dataset thead td:last-child {
  border-top-right-radius: var(--table-border-radius);
}
.dataset td {
  padding: 0.5rem 0.75rem;
  border: 1px solid grey;
}
.dataset td + td {
  border-left: 0;
}
.dataset tr + tr td {
  border-top: 0;
}
.dataset tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-border-radius);
}
.dataset tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-border-radius);
}

.timeline-container {
  padding: 1rem 1.5rem; 
}

.timeline {
  display: grid;
  gap: 4px;
  overflow-x: auto;
  width: 100%;
  padding-block: 1em;
  position: relative;
}
.timeline::before {
  position: absolute;
  inset: 0;
  content: '';

}
.timeline > * {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 4rem;
  gap: 4px;
}
.timeline > * > * {
  display: grid;
  text-align: center;
  place-content: center;
  padding: .5rem 0.25rem;
  gap: 2px;
  background-color: hsl(56, 32%, 91%);
  border: 1px solid grey;
  border-radius: var(--border-radius-s-1);
}
.timeline [data-cost="low"] .isActive {
  background-color: var(--color-low);
}
.timeline [data-cost="high"] .isActive {
  background-color: var(--color-high);
}

.timeline__calculation div {
  text-transform: capitalize;
  position: relative;
  font-weight: 600;
}
.timeline__calculation [data-rate="h"] {
  background-color: var(--color-high);
}
.timeline__calculation [data-rate="l"] {
  background-color: var(--color-low);
}
.timeline__calculation [data-rate="l"] :last-child {
  background-color: var(--color-low);
  border-color: var(--color-low);
}

.timeline__calculation div :first-child {
  margin: 1ex;
}

.timeline__calculation div :last-child {
  position: absolute;
}

.timeline__calculation [data-status="full"] :last-child {
  inset: auto 6px 6px;
  border: 3px solid grey;
  background-color: grey;
  border-radius: 4px;
}
.timeline__calculation [data-rate="h"][data-status="full"] :last-child {
  border-color: var(--color-high-dark);
  background-color: var(--color-high-dark);
}
.timeline__calculation [data-rate="l"][data-status="full"] :last-child {
  border-color: var(--color-low-dark);
  background-color: var(--color-low-dark);
}

button {
  padding: .5em 1.125em;
  font-family: 'europa', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: hsl(187, 51%, 23%);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 1px hsl(187 10% 50% / 0.2),
              2px 2px 2px hsl(187 15% 50% / 0.25);
  transition: box-shadow 200ms ease-out;
  position: relative;
  border: .25em solid hsl(187, 51%, 23%);
  margin-inline: auto;

}
button:hover,
button:focus-visible {
  outline: 0;
  border: .25em solid rgb(243 121 121);
}

button::before {
  content: '';
  position: absolute;
  box-shadow: 1px 1px 2px hsl(187 10% 50% / 0.2),
              2px 2px 4px hsl(187 15% 50% / 0.25),
              3px 3px 6px hsl(187 20% 50% / 0.3),
              4px 4px 8px hsl(187 25% 50% / 0.35),
              5px 5px 8px hsl(187 30% 50% / 0.4);
  border-radius: 5px;
  inset: -.25em;
  opacity: 1;
  transition: opacity 250ms ease;
}
button:active::before {
  opacity: 0;
}

.total-reimbursement {
  font-size: 22px;
  margin-inline: auto;
}
.total-reimbursement span {
  font-weight: 600;
}