*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --border-radius-s0: .5em;
  --border-radius-s-1: .25em;
  --color-high: hsl(10 90% 80%);
  --color-high-dark: hsl(10 95% 30%);
  --color-low: hsl(140 90% 85%);
  --color-low-dark: hsl(140 95% 35%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 64em;
}
.heading {
  margin-bottom: 0.5em;
}

.dataset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 1px 2px 2px hsl(0 0% 50% / 0.2),
              2px 4px 4px hsl(0 0% 50% / 0.2),
              3px 6px 6px hsl(0 0% 50% / 0.2);
  border-radius: var(--border-radius-s0);
}

.dataset table {
  border-spacing: 1rem;
  border-collapse: collapse;
  /* border: 1px solid grey; */
  border-radius: var(--border-radius-s0);
}
.dataset thead {
  font-weight: 600;
  font-size: 1.25rem;
}
.dataset td {
  padding: 0.5rem 0.75rem;
  border: 1px solid grey;
}

.timeline {
  display: grid;
  gap: 4px;
  overflow-x: auto;
  width: 100%;
}
.timeline > * {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 4rem;
  gap: 4px;
}
.timeline > * > * {
  display: grid;
  text-align: center;
  place-content: center;
  padding: .5rem 0.25rem;
  gap: 2px;
  background-color: hsl(56, 32%, 91%);
  border: 1px solid grey;
  border-radius: var(--border-radius-s-1);
}
.timeline [data-cost="low"] .isActive {
  background-color: var(--color-low);
}
.timeline [data-cost="high"] .isActive {
  background-color: var(--color-high);
}

.timeline__calculation div {
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
}
.timeline__calculation [data-rate="h"] {
  background-color: var(--color-high);
}
.timeline__calculation [data-rate="l"] {
  background-color: var(--color-low);
}
.timeline__calculation [data-rate="l"] :last-child {
  background-color: var(--color-low);
  border-color: var(--color-low);
}

.timeline__calculation div :first-child {
  margin: 1ex;
}

.timeline__calculation div :last-child {
  position: absolute;
}

.timeline__calculation [data-status="full"] :last-child {
  inset: auto 6px 6px;
  border: 3px solid grey;
  background-color: grey;
  border-radius: 4px;
}
.timeline__calculation [data-rate="h"][data-status="full"] :last-child {
  border-color: var(--color-high-dark);
  background-color: var(--color-high-dark);
}
.timeline__calculation [data-rate="l"][data-status="full"] :last-child {
  border-color: var(--color-low-dark);
  background-color: var(--color-low-dark);
}

.timeline__calculation button {
  cursor: pointer;
  background-color: #eee;
  border: 4px solid #eee;
}
.timeline__calculation button:hover,
.timeline__calculation button:focus-visible {
   border: 4px solid grey;
}